{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Mi primer Imagen en node HBS</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis mollitia cumque similique neque incidunt, commodi velit provident, vel, repellendus laudantium hic dolore illum et eos rerum tempora ipsum error quasi.Dolore voluptate animi vero nemo odio voluptatem ipsum placeat voluptates, distinctio repudiandae facilis ratione, tempora provident atque, recusandae molestiae quasi! Quos repellendus necessitatibus inventore magnam consequuntur voluptatum, possimus fugit eaque.</p>
    </div>


    <div class="col-4">
        <img src="assets/img/gato.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}